<div id="nav-bar" class="nav-bar">
    <nav>
        <select name="LLM Selection" id="llm-selection" #llmSelect class="llm-selection">
            <option value="0">LLM Models</option>
            <option value="1">Llama-2-7B-Chat-GGUF</option>
            <option value="2">openchat-3.5-0106</option>
            <option value="3">NeuralBeagle14-7B-GGUF</option>
        </select>
    </nav>
</div>
<div class="chat-container">

<!-- Prompt input for the user -->
<div class="user-input">
    <input type="text" #prompt class="user-prompt" placeholder="Type your prompt...">
</div>

    <!-- Chat input for the user -->
    <div class="user-input">
        <input type="text" #query class="user-prompt" placeholder="Type your message...">
        <button class="submit-button" (click)="getPrompt(prompt,query, llmSelect)">Send</button>
    </div>

    <!-- Chat output for LLM's response -->
    <div id="prompt-res" class="chat-output">
        <h3 class="llm-response-heading">LLM Response</h3>
        <div class="chat-bubble">
            <div class="message" [innerHTML]="llmReply !== null ? llmReply : ''">
                <!-- Insert LLM's response here -->
            </div>
        </div>
    </div>
</div>
